.flexContainer {
  display: flex;
  padding: 0 2em;
  flex-wrap: wrap;
  &.detail {
    padding: 0;
    flex: 1 1 100%;
    h3 {
      margin: 0 0 1em;
    }
  }
}

.flexItem {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  &.leftCol {
    align-items: flex-start;
    &.detail {
      p {
        margin: 0 0 1em;
      }
    }
  }
  &.rightCol {
    align-items: flex-end;
    &.detail {
      display: flex;
      flex-flow: column-reverse;
    }
  }
}

.striped:nth-child(even) {
  background-color: rgb(237, 237, 237);
}

.unitsInput {
  width: 2em;
  font-size: 1em;
}

.hide {
  display: none;
}

.btnDefault {
  color: green;
}