.flexContainer {
  display: flex;
  padding: 0 2em;
  flex-wrap: wrap; }
  .flexContainer.detail {
    padding: 0;
    flex: 1 1 100%; }
    .flexContainer.detail h3 {
      margin: 0 0 1em; }

.flexItem {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column; }
  .flexItem.leftCol {
    align-items: flex-start; }
    .flexItem.leftCol.detail p {
      margin: 0 0 1em; }
  .flexItem.rightCol {
    align-items: flex-end; }
    .flexItem.rightCol.detail {
      display: flex;
      flex-flow: column-reverse; }

.striped:nth-child(even) {
  background-color: #ededed; }

.unitsInput {
  width: 2em;
  font-size: 1em; }

.hide {
  display: none; }

.btnDefault {
  color: green; }
